@page "/logout"
<!DOCTYPE html>
<html>
<head>
    <title>Выход...</title>
</head>
<body>
    <script>
           
            document.cookie = 'authToken=; path=/; expires=Thu, 01 Jan 1970 00:00:00 UTC;';
            
            window.location.replace('/login');
    </script>
</body>
</html>