@using Microsoft.AspNetCore.Components.Authorization
@inject NavigationManager Navigation

@if (Navigation.Uri == $"{Navigation.BaseUri}login")
{
   
}
else
{
    <div class="alert alert-warning m-4">
        <p>Вы должны авторизоваться для доступа к этой странице.</p>
        <a href="/login" class="btn btn-primary">Войти</a>
    </div>
}